{% extends "base.html" %}
{% load staticfiles %}

{% block title %}tagging_cloud.html{% endblock %}

{% block extra-style %}
<style type="text/css">

.tag-cloud {
    width: 30%;
    margin-left: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid orange;
    background-color: #ffc;
}
.tag-1 {font-size: 12px;}
.tag-2 {font-size: 14px;}
.tag-3 {font-size: 16px;}
.tag-4 {font-size: 18px;}
.tag-5 {font-size: 20px;}
.tag-6 {font-size: 24px;}

</style>
{% endblock %}

{% block content %}

    <h1>Blog Tag Cloud</h1>

    <div class="tag-cloud">
        {% load tagging_tags %}
        {% tag_cloud_for_model blog.Post as tags with steps=6 min_count=1 distribution=log %}
        {% for tag in tags %}
        <span class="tag-{{tag.font_size}}">
            <a href="{% url 'blog:tagged_object_list' tag.name %}">{{tag.name}}({{tag.font_size}})</a>
        </span>
        {% endfor %}
    </div>

{% endblock %}
