{% extends "base.html" %}
{% load staticfiles widget_tweaks %}

{% block title %}photo_form.html{% endblock %}

{% block content %}

    <h1>Photo Create/Update - {{user}}</h1>
    <p class="text-muted">This is a creation or update form for your photo.</p>

    {% if form.is_multipart %}
    <form class="form-horizontal" enctype="multipart/form-data" method="post" action=".">
    {% else %}
    <form class="form-horizontal" method="post" action=".">
    {% endif %}
    {% csrf_token %}

        <fieldset style="border:1px solid #ccc; padding:20px 0 0 0;">

            <div class="form-group">
                <label for="id_image" class="col-sm-2 control-label">{{ form.image.label }}</label>
                <div class="col-sm-6">
                    {{ form.image|add_class:"form-control" }}
                </div>
            </div>

            <div class="form-group">
                <label for="id_album" class="col-sm-2 control-label">{{ form.album.label }}</label>
                <div class="col-sm-2">
                    {{ form.album|add_class:"form-control" }}
                </div>
                <button class="btn btn-default"><a href="{% url 'photo:album_add' %}">Add Album</a></button>
            </div>

            <div class="form-group">
                <label for="id_title" class="col-sm-2 control-label">{{ form.title.label }}</label>
                <div class="col-sm-6">
                    {{ form.title|add_class:"form-control" }}
                </div>
            </div>

            <div class="form-group">
                <label for="id_description" class="col-sm-2 control-label">{{ form.description.label }}</label>
                <div class="col-sm-6">
                    {{ form.description|add_class:"form-control" }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <input type="submit" value="Submit" class="btn btn-info"/>
                </div>
            </div>

        </fieldset>

    </form>

    <script type="text/javascript">document.getElementById('id_title').focus();</script>

{% endblock %}
